<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMZlQmongNYGPtqdOnMsL1Oc34p2s7tTM</string>
	<key>GCM_SENDER_ID</key>
	<string>839207554522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokedex</string>
	<key>PROJECT_ID</key>
	<string>pokedex-f59ab</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-f59ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839207554522:ios:452acfc5243c24b08f04e3</string>
</dict>
</plist>